@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.full-screen-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;

  .message {
    margin-top: 20px;
    font-weight: 800;
    font-size: 80%;
    color: $pri-color;
  }

  &.exit {
    animation: loader-leave .4s 1 forwards;
  }
}

@keyframes loader-leave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
