@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.hero {
  position: relative;
  width: 100%;
  height: 140px;
  border-radius: 5px;
  background-color: rgba($pri-color, .08);
  display: flex;
  align-items: center;

  @include mQ (755px) {
    flex-direction: column;
    background-color: $white;
  }

  .hero-info {
    color: $pri-color;
    
    @include mQ (755px) {
      order: 2;
      text-align: center;
      margin-top: -30px;
    }

    @include mQ (560px) {
      margin-top: -45px;
    }

    span {
      display: block;
      font-weight: 900;
      font-size: 200%;
      padding-left: 20px;

      @include mQ (560px) {
        padding: 0px 20px;
        font-size: 130%;
      }
    }

    p {
      margin-top: 5px;
      padding-left: 20px;
      font-weight: 500;
      font-size: 90%;
      width: 540px;
      line-height: 140%;

      @include mQ (560px) {
        padding: 0px 20px;
        width: 100%;
      }
    }
  }

  img {
    position: absolute;
    right: 0;
    width: 300px;
    top: -40px;
    user-select: none;

    @include mQ (755px) {
      position: relative;
      margin-top: 50px;
    }

    @include mQ (560px) {
      padding: 0px 20px;
      width: 250px;
      margin-top: 40px;
    }
  }
}